<?xml version="1.0"?>
<config>
    <sections>
        <design>
            <groups>
                <fallback translate="label">
                    <label>Fallback</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fallback translate="label">
                            <label>Fallback configuration</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[
<b>Instructions:</b><br />
Insert one line per fallback level.<br />
Separate package name from theme name by a ":".<br />
Use <b>{path/to/configuration}</b> for variables that will be replaced by their configured value.<br />
Use <b>[current]</b> for using the package or theme that is currently set. In contrast to using {design/package/name} and {design/theme/default} this takes type-specific themes and design changes (System &gt; Design) into account.<br />
First line has highest priority.<br /><br />
<b>Magento's default behaviour is reflected by:</b><br />
[current]:[current]<br />
[current]:default<br />
base:default]]></comment>
                        </fallback>
                    </fields>
                </fallback>
            </groups>
        </design>
	</sections>
</config>
