<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Aoe_DesignFallback>
			<version>0.2.1</version>
		</Aoe_DesignFallback>
	</modules>

	<global>
		<helpers>
			<aoe_designfallback>
				<class>Aoe_DesignFallback_Helper</class>
			</aoe_designfallback>
		</helpers>
		<models>
			<aoe_designfallback>
				<class>Aoe_DesignFallback_Model</class>
			</aoe_designfallback>
			<core>
				<rewrite>
					<design_package>Aoe_DesignFallback_Model_Design_Package</design_package>
				</rewrite>
			</core>
		</models>
	</global>

	<frontend>
		<layout>
			<updates>
				<aoe_designfallback module="Aoe_DesignFallback">
					<file>aoe_designfallback/aoe_designfallback.xml</file>
				</aoe_designfallback>
			</updates>
		</layout>
	</frontend>

	<default>
		<design>
			<fallback>
				<fallback><![CDATA[[current]:[current]
[current]:default
base:default]]></fallback>
			</fallback>
		</design>
	</default>

</config>
